<div class="main-layout">
  <h1>Contact Us</h1>
  <div class="description" v>
    <p>
      If you have any questions regarding our upcoming trips or anything else,
      feel free to contact us.
    </p>
    <div class="contacts">
      <div>
        <img src="assets/img/email.png" class="logo" />
        <p>{{ "sampleEmail@email.com" }}</p>
      </div>
      <div>
        <img src="assets/img/insta.png" class="logo" />
        <p>{{ "instagramm handle" }}</p>
      </div>
      <div>
        <img src="assets/img/facebook.png" class="logo" />
        <p>{{ "facebook handle" }}</p>
      </div>
    </div>
  </div>
</div>
