<div class="main-layout">
  <h1 class="ethnocentric">Contact Us</h1>
  <div class="description">
    <p class="px-3">
      If you have any questions regarding our upcoming trips or anything else,
      feel free to contact us.
    </p>
    <div class="contacts">
      <div>
        <a href="mailto: tim@thealteregoproject.com">
          <img src="assets/img/email.png" class="logo" />
          <p>{{ "tim@thealteregoproject.com" }}</p>
        </a>
      </div>
      <!--      <div>
        <img src="assets/img/insta.png" class="logo" />
        <p>{{ "instagramm handle" }}</p>
      </div> -->
      <div>
        <a href="https://www.facebook.com/alteregoadventures" target="_blank">
          <img src="assets/img/facebook.png" class="logo" />
          <p>{{ "www.facebook.com/alteregoadventures" }}</p>
        </a>
      </div>
    </div>
  </div>
</div>
