.profile-picture {
  width: 30%;
  height: auto;
  padding: 1rem;
}

img {
  min-width: 300px;
}

.profile-card {
  display: flex;
  flex-direction: row;
  padding: 2rem 1rem;
  align-items: center;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.description {
  width: 100%;
  margin: 1rem auto;

  @media (min-width: 900px) {
    width: 60%;
    margin: 0rem auto;
  }
}

h1 {
  padding-top: 1rem;
}

.ethnocentric {
  font-family: "Ethnocentric", sans-serif;
}

.container-fluid {
  background-color: white !important;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("../../assets/img/bgAboutUs.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-layout {
  background-color: rgba(255, 255, 255, 0.8);
}
