<div class="container-fluid">
  <div class="main-layout">
    <h1 class="ethnocentric">Who we are</h1>
    <p class="description  px-3 mb-0">
      At Alter Ego Adventures, we take pride in our attention to detail and
      commitment to providing the best adventure for you! Our travel experts
      have personally experienced the destinations we offer, ensuring that
      you’ll receive insider tips and recommendations. We handle all the
      logistics, including transportation (on some events) accommodation, and
      activity bookings, so you can focus on enjoying your adventure to the
      fullest.
    </p>

    <div *ngFor="let person of tmp" class="profile-card">
      <img [src]="person.img" class="profile-picture" />
      <div>
        <h2 class="ethnocentric">{{ person.name }}</h2>
        <p>{{ person.description }}</p>
      </div>
    </div>
  </div>
</div>
