<ng-container *ngIf="upcomingData$ | async as upcomingData">
  <div class="container-fluid hero-container bg-light">
    <div class="row align-items-center px-5 pb-5">
      <div class="row-lg-6 text-center">
        <h1 class="m-4">Upcoming Expeditions</h1>
      </div>
      <div
        *ngFor="let item of upcomingData"
        class="row-lg-6 text-center border p-5 mb-2"
      >
        <a href="./expedition/{{ item.id }}">
          <img
            id="{{ item?.fields?.idv }}"
            class="img-fluid"
            [src]="item.fields.main_picture"
          />
        </a>
        <h2 class="m-4">{{ item?.fields?.title }}</h2>
        <p class="lead">{{ item?.fields?.description }}</p>
        <p class="lead">
          {{ item?.fields?.start_date }} to {{ item?.fields?.end_date }}
        </p>
      </div>
    </div>
  </div>
</ng-container>
