@media (max-width: 900px) {
  .container-fluid {
    margin: 5px !important;
  }

  .row {
    padding: 5px !important;
  }
}

.container-fluid {
  background-color: white !important;
}

img {
  max-height: 500px;
}

.description {
  width: 100%;
  margin: 1rem auto;

  @media (min-width: 900px) {
    width: 60%;
    margin: 0rem auto;
  }
}
