<div class="container-fluid hero-container bg-light">
  <div class="row align-items-center">
    <div class="row-lg-6 text-center">
      <h1 class="m-4">Next Expeditions</h1>
    </div>
    <div class="row-lg-6 text-center">
      <img class="img-fluid" src="https://dummyimage.com/800x600" alt="#" />
    </div>
    <div class="text-center col-12 p-4">
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quas
        ducimus illo eligendi iure debitis saepe recusandae nostrum quis animi
        ullam minus, rem quo? Nihil facere blanditiis repellat excepturi
        impedit.
      </p>
    </div>
  </div>
</div>
