<!-- navbar.component.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light border p-3">
  <a class="navbar-brand" href="."
    ><img src="assets/img/AELogoWhite.png" class="logo"
  /></a>
  <div class="container" ngbDropdown>
    <button
      ngbDropdownToggle
      class="navbar-toggler hide-caret"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Mobile navbar  -->
    <div
      class="collapse navbar-collapse navbarNavMobile p-3"
      ngbDropdownMenu
      id="navbarNavMobile"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href=".">Home</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a
            class="nav-link dropdown-toggle"
            ngbDropdownToggle
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Up Next
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li *ngFor="let item of upcomingData">
              <a href="./expedition/{{ item.id }}" class="dropdown-item">{{
                item?.fields?.title
              }}</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./about-us">About Us</a>
        </li>
        <li class="nav-item" ngbDropdown>
          <a class="nav-link" href="./gallery"> Gallery </a>
          <!-- <ul class="dropdown-menu" ngbDropdownMenu>
            <li><a class="dropdown-item" href="./gallery/1">G - Action</a></li>
            <li>
              <a class="dropdown-item" href="./gallery/1">G - Another action</a>
            </li>
            <li>
              <a class="dropdown-item" href="./gallery/1"
                >G - Something else here</a
              >
            </li>
          </ul> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./contact-us">Contact Us</a>
        </li>
      </ul>
    </div>

    <!-- Desktop navbar -->
    <div
      class="collapse navbar-collapse navbarNavDesktop"
      id="navbarNavDesktop"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href=".">Home</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a
            class="nav-link dropdown-toggle"
            ngbDropdownToggle
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Up Next
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li *ngFor="let item of upcomingData">
              <a href="./expedition/{{ item.id }}" class="dropdown-item">{{
                item?.fields?.title
              }}</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./about-us">About Us</a>
        </li>
        <li class="nav-item" ngbDropdown>
          <a class="nav-link" href="./gallery"> Gallery </a>
          <!--  <ul class="dropdown-menu" ngbDropdownMenu>
            <li><a class="dropdown-item" href="./gallery/1">Action</a></li>
            <li>
              <a class="dropdown-item" href="./gallery/1">Another action</a>
            </li>
            <li>
              <a class="dropdown-item" href="./gallery/1"
                >Something else here</a
              >
            </li>
          </ul> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./contact-us">Contact Us</a>
        </li>
      </ul>
    </div>
    <span>
      <div class="btn btn-primary" (click)="openModal()">Sign Up</div></span
    >
  </div>
</nav>
