<ng-container *ngIf="expedition$ | async as expedition">
  <div class="main-layout">
    <h1>{{ expedition.fields.title }}</h1>
    <h2>
      {{ expedition.fields.start_date | date:'dd.MM.yy':'UTC' }} - {{ expedition.fields.end_date | date:'dd.MM.yy':'UTC' }}
    </h2>
    <p class="description">
      {{ expedition.fields.description }}
    </p>

    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img
            [src]="'https://picsum.photos/1000/200'"
            alt="Random first slide"
          />
        </div>
        <div class="carousel-caption">
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="'https://picsum.photos/1000/200'" />
        </div>
        <div class="carousel-caption">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img
            [src]="'https://picsum.photos/1000/200'"
            alt="Random third slide"
          />
        </div>
        <div class="carousel-caption">
          <p>
            Praesent commodo cursus magna, vel scelerisque nisl consectetur.
          </p>
        </div>
      </ng-template>
    </ngb-carousel>

    <p class="description">{{ expedition.fields.long_description }} test</p>

    <span class="pricing">
      <div class="package">
        <h2>Bronze</h2>
        <h3>{{ expedition.fields.price_bronze }}</h3>
        <p>
          {{ expedition.fields.bronze_description }}
        </p>
      </div>
      <div class="package">
        <h2>Silver</h2>
        <h3>{{ expedition.fields.price_silver }}</h3>
        <p>
          {{ expedition.fields.silver_description }}
        </p>
      </div>
      <div class="package">
        <h2>Gold</h2>
        <h3>{{ expedition.fields.price_gold }}</h3>
        <p>
          {{ expedition.fields.gold_description }}
        </p>
      </div>
    </span>
  </div>
</ng-container>
