<div class="modal-header">
  <h4 class="modal-title">Sign Up for a Trip</h4>
  <button
    type="button"
    class="btn close"
    aria-label="Close"
    (click)="dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name*</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        formControlName="firstName"
        required
        placeholder="Enter your first name..."
      />
      <div
        class="invalid"
        *ngIf="
          signUpForm.get('firstName')?.invalid &&
          signUpForm.get('firstName')?.touched
        "
      >
        First name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name*</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        formControlName="lastName"
        required
        placeholder="Enter your last name..."
      />
      <div
        *ngIf="
          signUpForm.get('lastName')?.invalid &&
          signUpForm.get('lastName')?.touched
        "
        class="invalid"
      >
        Last name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="trip">Select Trip*</label>
      <select class="form-control placeholder_select" id="trip" formControlName="tripId" required (change)="removePlaceholderStyle($event)">
        <option value="" disabled selected>Select a trip...</option>
        <option *ngFor="let trip of upcomingData$ | async" [value]="trip.fields.title">
          {{ trip.fields.title }}
        </option>
      </select>
      <div
        *ngIf="
          signUpForm.get('tripId')!.invalid && signUpForm.get('tripId')!.touched
        "
        class="invalid"
      >
        Please select a trip.
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email*</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        required
        placeholder="Enter your email..."
      />
      <div
        *ngIf="
          signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched
        "
        class="invalid"
      >
        A valid email is required.
      </div>
    </div>

    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input
        type="tel"
        class="form-control"
        id="phone"
        formControlName="phone"
        placeholder="Enter your phone number..."
      />
      <!-- You can add validation message for phone here if needed -->
    </div>

    <div class="form-group">
      <label for="comments">Comments</label>
      <textarea
        class="form-control"
        id="comments"
        formControlName="comments"
        placeholder="Enter any comments here..."
      ></textarea>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!signUpForm.valid"
    >
      Sign Up
    </button>
  </form>
</div>
