@import "./variables.scss";
html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $text-color !important;
  font-size: larger !important;
  font-weight: lighter !important;
}

.main-layout {
  padding-bottom: 2rem !important;
  text-align: center !important;
  @media (min-width: 900px) {
    margin: 0 10rem !important;
  }
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

@media (max-width: 991px) {
  .navbar .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@font-face {
  font-family: "Ethnocentric";
  src: url("./assets/fonts/Ethnocentric.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-primary:hover {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn:disabled {
  background-color: $subdued;
  border-color: $subdued;
}
